In [6]:
import pandas as pd

In [25]:
tableau = pd.read_csv('../dataset/chomage.csv')

In [29]:
tableau.head(10)

,ville,lien,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aast (64460),/management/ville/aast/ville-64001,7.5,7.3,7.3,6.7,6.1,7.5,7.6,7.4,7.8,8.3,8.3,8.6,8.1
1,Abainville (55130),/management/ville/abainville/ville-55001,8.5,9.6,10.0,9.7,8.5,10.2,10.6,10.1,11.1,12.1,11.3,11.7,11.1
2,Abancourt (59268),/management/ville/abancourt/ville-59001,9.4,9.7,10.5,9.5,9.3,11.6,11.3,11.2,11.9,13.0,12.4,12.7,12.3
3,Abaucourt (54610),/management/ville/abaucourt/ville-54001,7.4,7.6,8.1,7.2,6.5,8.1,8.4,8.2,8.9,9.6,9.2,9.7,9.3
4,Abaucourt-Hautecourt (55400),/management/ville/abaucourt-hautecourt/ville-5...,8.3,8.9,9.9,9.1,8.4,10.6,10.2,10.3,11.1,11.9,11.2,11.3,10.6
5,Abbans-Dessous (25320),/management/ville/abbans-dessous/ville-25001,6.9,7.2,7.4,6.8,6.2,8.2,8.1,7.4,7.8,8.4,8.1,8.5,8.1
6,Abbans-Dessus (25440),/management/ville/abbans-dessus/ville-25002,6.9,7.2,7.4,6.8,6.2,8.2,8.1,7.4,7.8,8.4,8.1,8.5,8.1
7,Abbaretz (44170),/management/ville/abbaretz/ville-44001,7.4,7.4,7.3,6.6,5.7,7.5,7.6,7.1,7.5,8.2,8.1,8.6,7.9
8,Abbécourt (02300),/management/ville/abbecourt/ville-02001,11.5,12.0,12.3,10.7,10.3,13.6,13.3,13.2,15.1,15.7,15.2,15.5,15.2
9,Abbecourt (60430),/management/ville/abbecourt/ville-60002,8.0,8.3,8.4,7.6,6.9,9.3,9.2,8.5,9.3,10.4,10.3,10.5,10.0

In [27]:
tableau.columns

Index(['ville', 'lien', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')

In [30]:
tableau['2015'].min()

4.7

In [56]:
basse = tableau[tableau['2015'] <= tableau['2015'].mean()]['ville'].iloc